@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
    margin: 0;
    font-family: poppins;
    /* background-color: #dedede; */
}

header{
    background-color: #2d25a0 ;
}

.top-header{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

/* navbar style  */

.navbar{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.nav-items ul{
display: flex;
}

.nav-items ul li{
    list-style-type: none;
    padding-right: 36px;
}

.nav-items ul li a{
    text-decoration: none;
    color: white;
}

.nav-items ul li a:hover{
    color: #e02c6d;
}

.right-nav{
    display: flex;
    align-items: center;
}
.right-nav a{
    text-decoration: none;
    color: white;
    background-color: #e02c6d;
    padding: 5px 30px;
    border: 2px solid #e02c6d;
    border-radius: 10px;
}
.right-nav a:hover{
    background-color: #e02c6e00;
    border: 2px solid #e02c6d;
    color: white;
}

/* top banner style  */

.bottom-header{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}
.top-banner{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: 75px;
}

.left-nav{
    padding-right: 50px;
}

.top-banner-title h1{
    font-size: 64px;
    color: white;
    line-height: 80px;
}

.top-banner-btn{
    margin-top: -30px;
}

.top-banner-btn a{
    text-decoration: none;
    color: white;
    background-color: #e02c6d;
    padding: 5px 20px;
    border-radius: 10px;
    border: 2px solid #e02c6d;
}

.top-banner-btn a:hover{
    background-color: #2d25a000;
}

.right-nav img{
    width: 556px;
    height: 438px;
}


/* banner animation on load  */

.top-banner .left-nav{
    animation: slideToRight 2s ease-out 1;
}

@keyframes slideToRight {
    from{
        transform: translateX(-200%);
    }

    To{
        transform: translateX(0);
    }
}

.top-banner .right-nav{
    animation: slideToLeft 2s ease-out 1;
}

@keyframes slideToLeft {
    from{
        transform: translateX(200%);
    }

    To{
        transform: translateX(0);
    }
}


/* cards style   */

main{
    margin-top: 70px;
}

.section-one{
    display: flex;
    justify-content: center;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

}

.single-card{
    width: 300px;
    background-color: white;
    padding-bottom: 20px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.card-image{
    text-align: center;
    padding: 10px 3px;
    padding-bottom: 0px;
}

.card-image img{
    width: 95%;
}

.card-title, .card-content{
    padding-left: 10px;
}

.card-title h2{
    margin-top: 10px;
    margin-bottom: 0px;
}

.card-content p{
    margin-top: 10px;
}


/* Card Transition */

.single-card:hover .card-image img{
    transform: scale(1.1);
    transition: transform 1s;
}

.card-image{
    overflow: hidden;
}


/* Section two Styles */

.section-two{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.sec-two-left{
    margin-right: 40px;
}


.section-two-group{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.sec-two-title h2{
 font-size: 38px;
 margin: 10px 0;
}

.sec-two-btn a{
    text-decoration: none;
    color: white;
    background-color: #e02c6d;
    padding: 5px 20px;
    border: 2px solid #e02c6d;
    border-radius: 10px;
}
.sec-two-btn a:hover{
    background-color: #e02c6e00;
    border: 2px solid #e02c6d;
    color: #e02c6d;
}


.sec-two-right img{
    width: 467px;
    height: 327px;
}


/* Section Two Animation  */

.section-two:hover img{
    animation: rotating 5s linear 0s infinite;
}

@keyframes rotating {

    0%{
        transform: translateY(0) rotate(0deg);
    }
    25%{
        transform: translateY(-10px) rotate(-2deg);
    }
    50%{
        transform: translateY(0) rotate(0deg);
    }
    75%{
        transform: translateY(-10px) rotate(2deg);
    }
    100%{
        transform: translateY(0) rotate(0deg);
    }

}


/* footer style  */

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.first-footer img{
    width: 483px;
    height: 110px;
}

.second-footer{
    display: flex;
    justify-content: center;
}

.fa-instagram, .fa-futbol, .fa-twitter, .fa-youtube{
    color: gray;
    background-color: #d6d6d8;
    border-radius: 50px;
    padding: 6px
}

.sm-icon-1{
    margin: 0 10px;
}

.sm-icon-2{
    margin: 0 10px;
}

.sm-icon-3{
    margin: 0 10px;
}

.sm-icon-4{
    margin: 0 10px;
}


.mobile-menu{
    display: none;
}

/* Responsive Styles start here  */


@media only screen and (max-width: 688px) {
    

    .top-header{
        padding-top: 0px;
    }
    .nav-items{
        display: none;
    }

    .navbar .right-nav{
        margin-top: 30px;
    }

    .top-banner{
        flex-wrap: wrap;
        margin-left: 0px;
    }

    .top-banner-title h1 {
        font-size: 36px;
        line-height: 46px; 
    }

    .right-nav{
        margin-top: 63px;
    }

    .right-nav img {
        width: 329px;
        height: 259px;
    }

    .bottom-header .left-nav {
        padding-right: 0px;
    }
    
    .bottom-header{
        padding-top: 30px;
    }

    .bottom-header .top-banner-btn {
    margin-top: 0;
}
    
    .cards {
    grid-template-columns: repeat(1, 1fr);
    }

    .section-two {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    
    .section-two-group {
        flex-wrap: wrap;
    }

    .section-two-group{
        width: 78%;
        flex-wrap: wrap;
    }

    .sec-two-title h2 {
        font-size: 30px;
    }

    .sec-two-left {
        margin-right: 0px;
    }

    
    .sec-two-right img {
        width: 328px;
        height: 248px;
        margin-left: -11px;
        margin-top: 70px;
    }

    .first-footer img {
        width: 271px;
        height: 63px;
    }

    /* Mobile menu styles */

    .mobile-menu{
        display: block;
    }

    .mobile-menu input{
        display: none;
    }

    .fa-bars{
    position: absolute;
    top: 36px;
    left: 41px;
    }

    input:checked ~ label i{
        transform: rotate(90deg);
        transition: 1s;
    }

    input:not(:checked) ~ label i{
        transform: rotate(180deg);
        transition: 1s;
    }

   .mobile-menu-items ul li{
        display: none;
        margin-bottom: 10px;
    }

    .mobile-menu input:checked ~ .mobile-menu-items ul li{
        display: block;
    }

    .mobile-menu-items ul li {
        list-style-type: none;
    }

    .mobile-menu-items ul li a{
        color: white;
        text-decoration: none;
    }

   
    .mobile-menu label i{
    color: white;
    font-size: 24px;
    }




}